# The Big Data Challenge

# Import packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import requests

# Stringency data by country

In [2]:
# Read in stringency data
file = (
    "Big Data Challenge_ Data and Challenge Statements/Data/Stringency data/OxCGRT_latest_hackathon.csv"
)
stringency = pd.read_csv(file, parse_dates=['Date'], usecols=['CountryName', 'Date', 
                                                              'StringencyIndex', 'ConfirmedCases',
                                                             'ConfirmedDeaths'])
print(stringency.head())

  CountryName       Date  ConfirmedCases  ConfirmedDeaths  StringencyIndex
0       Aruba 2020-01-01             NaN              NaN              0.0
1       Aruba 2020-01-02             NaN              NaN              0.0
2       Aruba 2020-01-03             NaN              NaN              0.0
3       Aruba 2020-01-04             NaN              NaN              0.0
4       Aruba 2020-01-05             NaN              NaN              0.0

In [3]:
# Check for missing values
print(stringency.isna().sum())

CountryName            0
Date                   0
ConfirmedCases     10426
ConfirmedDeaths    10426
StringencyIndex     1382
dtype: int64

## Reformat data

In [4]:
# Create new columns with Year and Month
stringency.loc[:,'Year'] = stringency.loc[:,'Date'].dt.year
stringency.loc[:,'Month'] = stringency.loc[:,'Date'].dt.month_name()
stringency.loc[:,'day'] = stringency.loc[:,'Date'].dt.day
print(stringency.head())

  CountryName       Date  ConfirmedCases  ConfirmedDeaths  StringencyIndex  \
0       Aruba 2020-01-01             NaN              NaN              0.0
1       Aruba 2020-01-02             NaN              NaN              0.0
2       Aruba 2020-01-03             NaN              NaN              0.0
3       Aruba 2020-01-04             NaN              NaN              0.0
4       Aruba 2020-01-05             NaN              NaN              0.0

   Year    Month  day
0  2020  January    1
1  2020  January    2
2  2020  January    3
3  2020  January    4
4  2020  January    5

In [61]:
#Drop all rows except EU countries we have electricity data for plus UK and except Malta because we don't have stringency or electricity data

#create list of all relevant countries
Europe = ['Belgium', 'Bulgaria', 'Czechia', 'Denmark', 'Germany', 'Estonia', 'Ireland', 'Greece', 'Spain', 'France', 
      'Croatia', 'Italy', 'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Netherlands', 'Austria', 
      'Poland', 'Portugal', 'Romania','Slovenia', 'Slovak Republic', 'Finland', 'Sweden', 'United Kingdom']

#note that in the stringency data, Czechia is called Czech Republic and Slovakia is referred to as Slovak Republic.

stringency_filtered = stringency.query('CountryName in ["Belgium", "Bulgaria", "Czech Republic", "Denmark", "Germany", "Estonia", "Ireland", "Greece", "Spain", "France", "Croatia", "Italy", "Cyprus", "Latvia", "Lithuania", "Luxembourg", "Hungary", "Netherlands", "Austria", "Poland", "Portugal", "Romania","Slovenia", "Slovak Republic", "Finland", "Sweden", "United Kingdom"]') 

stringency_filtered.query('CountryName == "United Kingdom"')

,CountryName,Date,ConfirmedCases,ConfirmedDeaths,StringencyIndex,Year,Month,day
13688,United Kingdom,2020-01-01,0.0,0.0,0.0,2020,January,1
13689,United Kingdom,2020-01-02,0.0,0.0,0.0,2020,January,2
13690,United Kingdom,2020-01-03,0.0,0.0,0.0,2020,January,3
13691,United Kingdom,2020-01-04,0.0,0.0,0.0,2020,January,4
13692,United Kingdom,2020-01-05,0.0,0.0,0.0,2020,January,5
...,...,...,...,...,...,...,...,...
13915,United Kingdom,2020-08-15,316367.0,41358.0,NaN,2020,August,15
13916,United Kingdom,2020-08-16,317444.0,41361.0,NaN,2020,August,16
13917,United Kingdom,2020-08-17,318484.0,41366.0,NaN,2020,August,17
13918,United Kingdom,2020-08-18,319197.0,41369.0,NaN,2020,August,18
13919,United Kingdom,2020-08-19,320286.0,41381.0,NaN,2020,August,19

# Electricity data for the UK

In [5]:
# Read in electricity data
file3 = ("Big Data Challenge_ Data and Challenge Statements/Data/Electricity data/ET_5.5_AUG_20.xls")

electricity = pd.read_excel(file3, sheet_name='Month', usecols=['YEAR', 'MONTH', 'electricity '], header=[7], skiprows= [i for i in range(8, 273) ])
print(electricity)

                       YEAR      MONTH  electricity
0                      2017    January     29.860327
1                      2017   February     26.207024
2                      2017      March     26.369292
3                      2017      April     24.043366
4                      2017        May     24.157889
5                      2017       June     22.589158
6                      2017       July     23.254473
7                      2017     August     23.576351
8                      2017  September     23.683497
9                      2017    October     25.338122
10                     2017   November     27.786430
11                     2017   December     29.302651
12                     2018    January     28.582218
13                     2018   February     27.061782
14                     2018      March     29.225837
15                     2018      April     25.640237
16                     2018        May     23.697955
17                     2018       June     22.469147
18                     2018       July     23.620447
19                     2018     August     23.757319
20                     2018  September     23.269388
21                     2018    October     25.133851
22                     2018   November     27.067643
23                     2018   December     27.848807
24                     2019    January     29.332878
25                     2019   February     25.136379
26                     2019      March     26.799207
27                     2019      April     24.517523
28                     2019        May     23.796177
29                     2019       June     22.293721
30                     2019       July     23.116223
31                     2019     August     22.742809
32                     2019  September     22.870830
33                     2019    October     25.767437
34                     2019   November     27.566669
35                     2019   December     27.816058
36                     2020    January     27.674487
37                     2020   February     25.986530
38                     2020      March     25.892542
39                     2020      April     20.885840
40                     2020        May     20.533198
41                     2020       June     20.374377
42                      NaN        NaN           NaN
43  Return to contents page        NaN           NaN

In [6]:
# Rename electicity column
electricity = electricity.rename(columns={'electricity ':'Total consumption of electricity used (all providers) TWh', 'YEAR':'Year', 'MONTH':'Month'})
print(electricity.head())

   Year     Month  Total consumption of electricity used (all providers) TWh
0  2017   January                                          29.860327
1  2017  February                                          26.207024
2  2017     March                                          26.369292
3  2017     April                                          24.043366
4  2017       May                                          24.157889

In [7]:
# Remove rows containing nan in a specific column
electricity = electricity[pd.notnull(electricity['Month'])]

In [8]:
# Check for missing values
print(electricity.isna().sum())

Year                                                         0
Month                                                        0
Total consumption of electricity used (all providers) TWh    0
dtype: int64

In [9]:
## Create a date column so that we can merge on date - use 15th just as median date 
## NOTE THIS IS NOT A REAL DATE, only MONTH AND YEAR are correct
electricity['day'] = '15'
# Combine day, month and year of birth into one column
electricity['Date'] =  electricity['Year'].astype(str).str.zfill(4) + "-" + electricity['Month'].astype(str).str.zfill(2) + "-" + electricity['day'].astype(str).str.zfill(2)
# Convert date of birth column into datetime
electricity['Date'] = electricity['Date'].astype('datetime64[ns]')

print(electricity['Date'])

0    2017-01-15
1    2017-02-15
2    2017-03-15
3    2017-04-15
4    2017-05-15
5    2017-06-15
6    2017-07-15
7    2017-08-15
8    2017-09-15
9    2017-10-15
10   2017-11-15
11   2017-12-15
12   2018-01-15
13   2018-02-15
14   2018-03-15
15   2018-04-15
16   2018-05-15
17   2018-06-15
18   2018-07-15
19   2018-08-15
20   2018-09-15
21   2018-10-15
22   2018-11-15
23   2018-12-15
24   2019-01-15
25   2019-02-15
26   2019-03-15
27   2019-04-15
28   2019-05-15
29   2019-06-15
30   2019-07-15
31   2019-08-15
32   2019-09-15
33   2019-10-15
34   2019-11-15
35   2019-12-15
36   2020-01-15
37   2020-02-15
38   2020-03-15
39   2020-04-15
40   2020-05-15
41   2020-06-15
Name: Date, dtype: datetime64[ns]

In [65]:
#add column to the electricity to specify the country since it will be added to other data
electricity['CountryName'] = 'United Kingdom'
electricity = electricity[['CountryName', 'Date', 'Total consumption of electricity used (all providers) TWh', 'Year', 'Month', 'day']]
electricity

,CountryName,Date,Total consumption of electricity used (all providers) TWh,Year,Month,day
0,United Kingdom,2017-01-15,29.860327,2017,January,15
1,United Kingdom,2017-02-15,26.207024,2017,February,15
2,United Kingdom,2017-03-15,26.369292,2017,March,15
3,United Kingdom,2017-04-15,24.043366,2017,April,15
4,United Kingdom,2017-05-15,24.157889,2017,May,15
5,United Kingdom,2017-06-15,22.589158,2017,June,15
6,United Kingdom,2017-07-15,23.254473,2017,July,15
7,United Kingdom,2017-08-15,23.576351,2017,August,15
8,United Kingdom,2017-09-15,23.683497,2017,September,15
9,United Kingdom,2017-10-15,25.338122,2017,October,15
10,United Kingdom,2017-11-15,27.786430,2017,November,15
11,United Kingdom,2017-12-15,29.302651,2017,December,15
12,United Kingdom,2018-01-15,28.582218,2018,January,15
13,United Kingdom,2018-02-15,27.061782,2018,February,15
14,United Kingdom,2018-03-15,29.225837,2018,March,15
15,United Kingdom,2018-04-15,25.640237,2018,April,15
16,United Kingdom,2018-05-15,23.697955,2018,May,15
17,United Kingdom,2018-06-15,22.469147,2018,June,15
18,United Kingdom,2018-07-15,23.620447,2018,July,15
19,United Kingdom,2018-08-15,23.757319,2018,August,15
20,United Kingdom,2018-09-15,23.269388,2018,September,15
21,United Kingdom,2018-10-15,25.133851,2018,October,15
22,United Kingdom,2018-11-15,27.067643,2018,November,15
23,United Kingdom,2018-12-15,27.848807,2018,December,15
24,United Kingdom,2019-01-15,29.332878,2019,January,15
25,United Kingdom,2019-02-15,25.136379,2019,February,15
26,United Kingdom,2019-03-15,26.799207,2019,March,15
27,United Kingdom,2019-04-15,24.517523,2019,April,15
28,United Kingdom,2019-05-15,23.796177,2019,May,15
29,United Kingdom,2019-06-15,22.293721,2019,June,15
30,United Kingdom,2019-07-15,23.116223,2019,July,15
31,United Kingdom,2019-08-15,22.742809,2019,August,15
32,United Kingdom,2019-09-15,22.870830,2019,September,15
33,United Kingdom,2019-10-15,25.767437,2019,October,15
34,United Kingdom,2019-11-15,27.566669,2019,November,15
35,United Kingdom,2019-12-15,27.816058,2019,December,15
36,United Kingdom,2020-01-15,27.674487,2020,January,15
37,United Kingdom,2020-02-15,25.986530,2020,February,15
38,United Kingdom,2020-03-15,25.892542,2020,March,15
39,United Kingdom,2020-04-15,20.885840,2020,April,15
40,United Kingdom,2020-05-15,20.533198,2020,May,15
41,United Kingdom,2020-06-15,20.374377,2020,June,15

In [10]:
stringency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42920 entries, 0 to 42919
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CountryName      42920 non-null  object
 1   Date             42920 non-null  datetime64[ns]
 2   ConfirmedCases   32494 non-null  float64
 3   ConfirmedDeaths  32494 non-null  float64
 4   StringencyIndex  41538 non-null  float64
 5   Year             42920 non-null  int64
 6   Month            42920 non-null  object
 7   day              42920 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 2.6+ MB

In [11]:
print(electricity.shape)
print(stringency.shape)

(42, 5)
(42920, 8)

# Electricity data for EU countries

In [94]:
#read csv
EU_elec = pd.read_csv('Electricity/EU_electricity_data.csv')

#rename columns
EU_elec.rename(columns={'Unnamed: 0': 'CountryName'}, inplace = True)

#set index to countryname so I can stack
EU_elec.set_index('CountryName', inplace = True)
#stack so that date becomes a column, rather than each date having its own column
EU_elec = EU_elec.stack()

#reset the index
EU_elec = EU_elec.reset_index(drop = False)

#rename the columns
EU_elec.columns = ['CountryName', 'Month-Year', 'GWh']
EU_elec

    CountryName Month-Year     GWh
0       Belgium     Jan-16   7,749
1       Belgium     Feb-16   7,293
2       Belgium     Mar-16   7,511
3       Belgium     Apr-16   6,833
4       Belgium     May-16   6,635
..          ...        ...     ...
805      Sweden     Feb-20  12,062
806      Sweden     Mar-20  11,902
807      Sweden     Apr-20  10,500
808      Sweden     May-20  10,169
809      Sweden     Jun-20   8,699

[810 rows x 3 columns]

In [ ]:
#split Month-Year into one month column and one year column 




#convert GWh into TWh so it's compatable with the UK data.

##  Merge country data

In [12]:
stringency.day = stringency.day.astype(str)

country_data = electricity.merge(stringency, on='Date', how='outer')
print(country_data)
country_data.to_csv("Big Data Challenge_ Data and Challenge Statements/Data/country_data.csv")

      Year_x   Month_x  \
0       2017   January
1       2017  February
2       2017     March
3       2017     April
4       2017       May
...      ...       ...
42951    NaN       NaN
42952    NaN       NaN
42953    NaN       NaN
42954    NaN       NaN
42955    NaN       NaN

       Total consumption of electricity used (all providers) TWh day_x  \
0                                              29.860327            15
1                                              26.207024            15
2                                              26.369292            15
3                                              24.043366            15
4                                              24.157889            15
...                                                  ...           ...
42951                                                NaN           NaN
42952                                                NaN           NaN
42953                                                NaN           NaN
42954                                                NaN           NaN
42955                                                NaN           NaN

            Date       CountryName  ConfirmedCases  ConfirmedDeaths  \
0     2017-01-15               NaN             NaN              NaN
1     2017-02-15               NaN             NaN              NaN
2     2017-03-15               NaN             NaN              NaN
3     2017-04-15               NaN             NaN              NaN
4     2017-05-15               NaN             NaN              NaN
...          ...               ...             ...              ...
42951 2020-08-19            Kosovo             NaN              NaN
42952 2020-08-19          Anguilla             3.0              0.0
42953 2020-08-19  Falkland Islands            13.0              0.0
42954 2020-08-19        Montserrat             NaN              NaN
42955 2020-08-19  Pitcairn Islands             NaN              NaN

       StringencyIndex  Year_y Month_y day_y
0                  NaN     NaN     NaN   NaN
1                  NaN     NaN     NaN   NaN
2                  NaN     NaN     NaN   NaN
3                  NaN     NaN     NaN   NaN
4                  NaN     NaN     NaN   NaN
...                ...     ...     ...   ...
42951              NaN  2020.0  August    19
42952              NaN  2020.0  August    19
42953              NaN  2020.0  August    19
42954              NaN  2020.0  August    19
42955              NaN  2020.0  August    19

[42956 rows x 12 columns]

In [16]:
country_data.head(50)

,Year_x,Month_x,Total consumption of electricity used (all providers) TWh,day_x,Date,CountryName,ConfirmedCases,ConfirmedDeaths,StringencyIndex,Year_y,Month_y,day_y
0,2017,January,29.860327,15,2017-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,February,26.207024,15,2017-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,March,26.369292,15,2017-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,April,24.043366,15,2017-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,May,24.157889,15,2017-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017,June,22.589158,15,2017-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017,July,23.254473,15,2017-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,August,23.576351,15,2017-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017,September,23.683497,15,2017-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2017,October,25.338122,15,2017-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,November,27.786430,15,2017-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017,December,29.302651,15,2017-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2018,January,28.582218,15,2018-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2018,February,27.061782,15,2018-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2018,March,29.225837,15,2018-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2018,April,25.640237,15,2018-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2018,May,23.697955,15,2018-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2018,June,22.469147,15,2018-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2018,July,23.620447,15,2018-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2018,August,23.757319,15,2018-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2018,September,23.269388,15,2018-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2018,October,25.133851,15,2018-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2018,November,27.067643,15,2018-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2018,December,27.848807,15,2018-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2019,January,29.332878,15,2019-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2019,February,25.136379,15,2019-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2019,March,26.799207,15,2019-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2019,April,24.517523,15,2019-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2019,May,23.796177,15,2019-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2019,June,22.293721,15,2019-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2019,July,23.116223,15,2019-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2019,August,22.742809,15,2019-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2019,September,22.870830,15,2019-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2019,October,25.767437,15,2019-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2019,November,27.566669,15,2019-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2019,December,27.816058,15,2019-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2020,January,27.674487,15,2020-01-15,Aruba,NaN,NaN,0.0,2020.0,January,15
37,2020,January,27.674487,15,2020-01-15,Afghanistan,0.0,0.0,0.0,2020.0,January,15
38,2020,January,27.674487,15,2020-01-15,Angola,NaN,NaN,0.0,2020.0,January,15
39,2020,January,27.674487,15,2020-01-15,Albania,NaN,NaN,0.0,2020.0,January,15
40,2020,January,27.674487,15,2020-01-15,Andorra,NaN,NaN,0.0,2020.0,January,15
41,2020,January,27.674487,15,2020-01-15,United Arab Emirates,0.0,0.0,0.0,2020.0,January,15
42,2020,January,27.674487,15,2020-01-15,Argentina,NaN,NaN,0.0,2020.0,January,15
43,2020,January,27.674487,15,2020-01-15,Australia,0.0,0.0,0.0,2020.0,January,15
44,2020,January,27.674487,15,2020-01-15,Austria,0.0,0.0,0.0,2020.0,January,15
45,2020,January,27.674487,15,2020-01-15,Azerbaijan,0.0,0.0,0.0,2020.0,January,15
46,2020,January,27.674487,15,2020-01-15,Burundi,NaN,NaN,0.0,2020.0,January,15
47,2020,January,27.674487,15,2020-01-15,Belgium,0.0,0.0,0.0,2020.0,January,15
48,2020,January,27.674487,15,2020-01-15,Benin,NaN,NaN,0.0,2020.0,January,15
49,2020,January,27.674487,15,2020-01-15,Burkina Faso,NaN,NaN,0.0,2020.0,January,15

# Road traffic data by city

In [ ]:
# Read in traffic data from ONS
file2 = (
    "Traffic_ONS/10septembertrafficcamerasdataset.xlsx"
)
traffic = pd.read_excel(file2, sheet_name='Seasonally adjusted', header=[0, 1], skiprows=[2, 3], index_col=0)
print(traffic.head())

## Handle missing data

In [ ]:
# Replace the asterisk with empty cells
traffic = traffic.replace('*', '')
print(traffic)

## Reformat data

In [ ]:
# Melt traffic data
long_traffic = pd.melt(traffic, var_name=['City','Transport mode'], value_name='Count', ignore_index=False)
print(long_traffic)
long_traffic = pd.DataFrame(long_traffic.reset_index())

# Rename date column
long_traffic = long_traffic.rename(columns={"index": "Date"})
print(long_traffic)

In [ ]:
# Create new columns with Year and Month
long_traffic.loc[:,'Year'] = long_traffic.loc[:,'Date'].dt.year
long_traffic.loc[:,'Month'] = long_traffic.loc[:,'Date'].dt.month
print(long_traffic.head())


long_traffic.loc[:,'Year'] = long_traffic.loc[:,'Year'].astype(int)
long_traffic.loc[:, 'Month'] = long_traffic.loc[:, 'Month'].astype(int)
print(long_traffic.info())

In [ ]:
## Check it can plot - just for de-bugging
sns.lineplot(
    data = long_traffic,
    x = 'Month',
    y = 'Count',
    aspect=3
)

# Air quality

In [ ]:
# Read in the air quality data -- THIS DOESN'T WORK
url_air = ("http://api.erg.ic.ac.uk/AirQuality/Daily/MonitoringIndex/Latest/GroupName={GROUPNAME}/Json")
# Package the request, send the request and catch the response: r
air = requests.get(url_air)
# Decode the JSON data into a dictionary: json_data
json_data_air = air.json()

# # Print each key-value pair in json_data
# for k in json_data.keys():
#     print(k + ': ', json_data[k])